:80 {
	root * /usr/share/caddy

	encode gzip zstd

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"
	header /index.html Cache-Control "no-cache"

	file_server
}
